.prices-wrapper-v3 {
  width: 100%;
  max-width: 143px;
}
.route-product #intro aside .prices-wrapper-v3 > .price-wrapper-v3 {
  background-color: #fff;
}
.route-product #intro aside .prices-wrapper-v3 {
  float: right;
}
.route-product .bottom aside .prices-wrapper-v3 {
  clear: both;
  margin-top: 20px;
  float: right;
}
.price-wrapper-v3 .price-text,
.quantity-prices-wrapper-v3 .price-text {
  font-family: FrutigerLT, rawline, Arial, sans-serif;
}
.prices-wrapper-v3 > .price-wrapper-v3:not(:first-child),
.prices-wrapper-v3 > .quantity-prices-wrapper-v3:not(:first-child),
.quantity-prices-wrapper-v3 > .quantity-price-wrapper:not(:first-child) {
  margin-top: 3px;
}
.prices-wrapper-v3 > .price-wrapper-v3 {
  width: 100%;
  height: 45px;
  background-color: #ecebeb;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  border-radius: 2px;
}
.quantity-prices-wrapper-v3 {
  width: 100%;
}
.quantity-prices-wrapper-v3 > .quantity-price-wrapper{
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #feec01;
  border-radius: 2px;
}
.quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper, .quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper {
  display: table-cell;
}
.quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper {
  width: 45px;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}
.quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper {
  text-align: center;
  font-size: 14px;
}
.quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper .before-comma {
  font-size: 16px;
}
.price-wrapper-v3.promo, .price-wrapper-v3.FDS {
  background-color: #feec01!important;
}
.price-wrapper-v3.with-top-container {
  height: 58px;
  padding-top: 0;
}
.price-wrapper-v3.with-top-container .main-price {
  margin-top: 3px;
}
.price-wrapper-v3 .top-container {
  line-height: initial;
  font-size: 9px;
  background-color: #000;
  padding: 0px 0 1px 0;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}
.price-wrapper-v3.crossed {
  position: relative;
  background-color: #000!important;
  color: #fff!important;
}
.price-wrapper-v3.crossed:before {
  content: "";
  display: block;
  background-color: red;
  width: 90%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: rotate(-10deg);
}
.price-wrapper-v3.FDS .top-container{
  background-color: #333;
  color: #feec01;
  border-top: dashed 2px #feec01;
}
.price-wrapper-v3.one-line {
  line-height: 45px;
  padding: 0;
}
.price-wrapper-v3 .before-comma,
.price-wrapper-v3 .after-comma,
.price-wrapper-v3 .right-wrapper,
.quantity-prices-wrapper-v3 .before-comma,
.quantity-prices-wrapper-v3 .after-comma,
.quantity-prices-wrapper-v3 .right-wrapper {
  display: inline-block;
  vertical-align: top;
}
.price-wrapper-v3 .inner-price-wrapper .before-comma,
.price-wrapper-v3 .inner-price-wrapper .after-comma,
.price-wrapper-v3 .inner-price-wrapper .right-wrapper,
.quantity-prices-wrapper-v3 .inner-price-wrapper .before-comma,
.quantity-prices-wrapper-v3 .inner-price-wrapper .after-comma,
.quantity-prices-wrapper-v3 .inner-price-wrapper .right-wrapper {
  vertical-align: middle;
}
.price-wrapper-v3 .before-comma,
.quantity-prices-wrapper-v3 .before-comma {
  font-size: 24px;
}
.price-wrapper-v3 .after-comma,
.quantity-prices-wrapper-v3 .after-comma {
  font-size: 11px;
}
.price-wrapper-v3 .main-price,
.quantity-prices-wrapper-v3 .main-price {
  height: 22px;
  line-height: initial;
  display: inline-block;
}
.price-wrapper-v3 .sub-price {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  text-transform: initial;
}
.price-wrapper-v3 .ht,
.price-wrapper-v3 .unit,
.quantity-prices-wrapper-v3 .ht,
.quantity-prices-wrapper-v3 .unit {
  font-size: 8px;
  height:10px;
}
/* Le bloc suivant permet de grossir le bloc prix sur les cartes liste (wide-mode) */
@media screen and (min-width: 1024px) {
  .product-card-v3.wide-mode > .right-wrapper {
    width: 160px!important;
  }
  .product-card-v3.wide-mode .prices-wrapper-v3 {
    max-width: 160px;
  }
  .product-card-v3.wide-mode .prices-wrapper-v3 > .price-wrapper-v3:not(.with-top-container) {
    height: 50px;
  }
  .product-card-v3.wide-mode .prices-wrapper-v3 > .price-wrapper-v3.with-top-container {
    height: 63px;
  }
  .product-card-v3.wide-mode .price-wrapper-v3 .main-price,
  .product-card-v3.wide-mode .quantity-prices-wrapper-v3 .main-price {
    height: 27px;
  }
  .product-card-v3.wide-mode .price-wrapper-v3 .after-comma,
  .product-card-v3.wide-mode .quantity-prices-wrapper-v3 .after-comma {
    height: 16px;
  }
  .product-card-v3.wide-mode .price-wrapper-v3 .before-comma,
  .product-card-v3.wide-mode .quantity-prices-wrapper-v3 .before-comma {
    font-size: 29px;
  }
  .product-card-v3.wide-mode .quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper .before-comma {
    font-size: 21px;
    vertical-align: -5px;
  }
  .product-card-v3.wide-mode .quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper {
    width: 51px;
    font-size: 16px;
    vertical-align: middle;
  }
}
/* Le bloc suivant permet de grossir le bloc prix sur la page produit */
.route-product aside .prices-wrapper-v3 {
  max-width: 177px;
}
.route-product aside .prices-wrapper-v3 > .price-wrapper-v3:not(.with-top-container) {
  height: 55px;
}
.route-product aside .prices-wrapper-v3 > .price-wrapper-v3.with-top-container {
  height: 68px;
}
.route-product aside .price-wrapper-v3 .main-price {
  height: 32px;
}
.route-product aside .quantity-prices-wrapper-v3 .main-price {
  height: 30px;
}
.route-product aside .price-wrapper-v3 .after-comma,
.route-product aside .quantity-prices-wrapper-v3 .after-comma {
  font-size: 12px;
}
.route-product aside .price-wrapper-v3 .before-comma,
.route-product aside .quantity-prices-wrapper-v3 .before-comma {
  font-size: 32px;
}
.route-product aside .quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper .before-comma {
  font-size: 22px;
  vertical-align: -8px;
}
.route-product aside .quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper {
  width: 57px;
  font-size: 18px;
  vertical-align: middle;
}
.route-product aside .price-wrapper-v3 .ht, .route-product aside .price-wrapper-v3 .unit, .route-product aside .quantity-prices-wrapper-v3 .ht, .route-product aside .quantity-prices-wrapper-v3 .unit {
  font-size: 9px;
}
.route-product aside .price-wrapper-v3 .sub-price {
  font-size: 13px;
}
@media screen and (max-width: 1024px){
  .quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper .before-comma {
    font-size: 14px;
  }
  .price-wrapper-v3 .after-comma, .quantity-prices-wrapper-v3 .after-comma {
    font-size: 9px;
  }
  .quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper {
    font-size: 12px;
    width: 35px;
  }
  .price-wrapper-v3 .before-comma, .quantity-prices-wrapper-v3 .before-comma {
    font-size: 22px;
  }
  .price-wrapper-v3 .sub-price {
    font-size: 9px;
  }
  .price-wrapper-v3:not(.one-line):not(.with-top-container) {
    padding-top: 6px;
  }
}
@media screen and (max-width: 768px){
  .route-product #intro aside .prices-wrapper-v3 {
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px){
  .quantity-prices-wrapper-v3 > .quantity-price-wrapper .inner-price-wrapper .before-comma {
    font-size: 12px;
  }
  .price-wrapper-v3 .after-comma, .quantity-prices-wrapper-v3 .after-comma {
    font-size: 8px;
  }
  .quantity-prices-wrapper-v3 > .quantity-price-wrapper .quantity-wrapper {
    font-size: 10px;
    width: 35px;
  }
  .price-wrapper-v3 .before-comma, .quantity-prices-wrapper-v3 .before-comma {
    font-size: 19px;
  }
  .price-wrapper-v3 .sub-price {
    font-size: 8px;
  }
  .price-wrapper-v3:not(.one-line):not(.with-top-container) {
    padding-top: 6px;
  }
}
