@import "colors";

.pdb-btn {
  background-color: transparent;
  font-size: 1em;
  border-radius: 0.2em;
  cursor: pointer;
  text-transform: uppercase;
  padding: .375rem .75rem;
  display: block;
  color: $white;
  border: solid 2px;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  vertical-align: middle;
  transition: all 0.1s ease;
  font-family: 'rawline', sans-serif;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
  &.btn-orange {
    border-color: $orange;
    background-color: $orange;
  }
  &.btn-black {
    border-color: $black;
    background-color: $black;
  }
  &.btn-yellow {
    border-color: $yellow;
    background-color: $yellow;
    color: $black;
  }
  &.btn-clear {
    border-color: $dark;
    color: $dark;
  }
  &.btn-wide {
    width: 100%;
  }
  &:disabled {
    background-color: $lighten;
    border-color: $lighten;
    color: $gray;
    cursor: not-allowed;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    margin-right: 7px;
    //font-size: 1.25em;
    vertical-align: -1px;
  }
  .loader-wrapper {
    display: none;
  }
  &.btn-processing {
    position: relative;
    border-color: $lighten;
    background-color: $lighten;
    cursor: progress;
    .loader-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      background-color: $lighten;
      display: flex;
      justify-content: center;
      align-self: center;
      .loader {
        font-size: 0.625em;
      }
    }
  }
  &.add-to-cart {
    overflow: hidden;
    position: relative;
    padding-left: calc(40px + .75rem);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 28px;
      height: 76px;
      top:3px;
      left: .75rem;
      background: url("/dist/assets/icons/addToCartSuccess.svg") no-repeat left center;
      background-size: 28px;
    }
    &.ok {
      &:before {
        animation: add-to-cart 2s ease infinite;
      }
    }
    &.small {
      &:before {
        width: 100%;
        background-position: center;
        left: 0;
      }
      height: calc(28px + .75rem);
    }
    @keyframes add-to-cart {
      0% {
        transform: translateY(0);
      }
      30% {
        transform: translateY(-48px);
      }
      70% {
        transform: translateY(-48px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
