@font-face {
  font-family: 'FrutigerCE';
  font-weight: 800;
  src: url(/dist/assets/font/Frutiger/FrutigerCE-Black.ttf);
}
@font-face {
  font-family: 'FrutigerCE';
  font-weight: 700;
  src: url(/dist/assets/font/Frutiger/FrutigerCE-Bold.ttf);
}
@font-face {
  font-family: 'FrutigerLT';
  font-weight: 900;
  src: url(/dist/assets/font/Frutiger/FrutigerLT-UltraBlack.ttf);
}
